.container-top {
    width: 100%;
    padding-bottom: 20px;
}

.heading {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
}

.input-area {
    width: 400px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.7px solid black;
    border-radius: 10px;
    padding: 5px;
}

.input-field {
    width: 200px;
    border: none;
    padding: 5px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: 'Reenie Beanie', cursive;
    }
}

.btn {
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Fredericka the Great', cursive;

}

.clear {
    width: 200px;
    height: 30px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn {
        width: 100%;
        height: 30px;
        margin: auto;
        border: 0.4px solid grey;
        border-radius: 10px;
        background: none;
        font-family: 'Fredericka the Great', cursive;
    }
}
.container-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.taskList {
    width: 200px;
    margin: auto;
    font-family: 'Reenie Beanie', cursive;
}

.list-item {
    list-style: disc;
    font-size: 40px;
}