.heading {
    text-align: center;
}

.search-section {
    width: 70%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.search-field {
    width: 100%;
    margin-right: 20px;
    padding-left: 10px;

}