* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/movie-bk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    font-family: 'Poiret One', cursive;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.search-section {
    width: 50%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.search-field {
    width: 100%;
    margin-right: 20px;
    padding-left: 10px;
    background-color: black;
    border: 0.5px solid white;
    border-radius: 4px;
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;

    & ::placeholder {
        font-family: 'Quicksand', sans-serif;
        font-weight: 300;
    }
}

.search-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: white;
    border: none;
    background-color: #6c1d1dfc;
    width: 150px;
    height: 30px;
    border-radius: 4px;
}

.movie-section {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.backdrop {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
}

.poster {
    height: 330px;
    padding-right: 20px;

    &__img {
        height: 100%;
        border-radius: 3px;
    }
}

.movie-info {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;

}